# Physical attacks - Preparation de données

## I - Modules

In [1]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.25.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## II - Charger donnée

In [2]:
# On utilise train_test_split de sklearn pour reduire les dataset à la taille voulue en concervant les proportions pour les labels
# Pour garder les proportions, il faut les connaitres, pour les connaitres, il faut d'abord load le dataset en entier (ce qui peut être lourd) 
def load_dataset_keeping_proportions(dataset_path, size):
    def stratified_sample(df, size_frac):
        if 'label' in df.columns:
            
            # On utilise train_test_split de sklearn pour reduire les dataset en concervant les proportions pour les labels
            _, df_reduced = train_test_split(df, test_size=size_frac, stratify=df['Label'], random_state=42)
            return df_reduced
        else:
            # If 'label' column is not present, return a regular sampled subset
            return df.sample(frac=size_frac, random_state=42)

    # Map size input to fractions
    size_map = {"full": 1, "/2": 0.5, "/4": 0.25, "/10": 0.1, "/100": 0.01, "/1000": 0.001}

    if(dataset_path == "physical/phy_att_4.csv"):
        df = pd.read_csv(dataset_path, delimiter=',')
    else:
        df = pd.read_csv(dataset_path, delimiter=';')
    

    # Apply stratified sampling if size is not 'full'
    if size != "full":
        size_frac = size_map.get(size, 1)  # Default to 'full' if size not recognized
        df = stratified_sample(df, size_frac)

    return df

In [3]:
df_normal = pd.read_csv("physical/phy_norm.csv",sep=";")
df_attack_1 = pd.read_csv("physical/phy_att_1.csv",sep=";")
df_attack_2 = pd.read_csv("physical/phy_att_2.csv",sep=";")
df_attack_3 = pd.read_csv("physical/phy_att_3.csv",sep=";")
df_attack_4 = pd.read_csv("physical/phy_att_4.csv",sep=",")

In [4]:
df_attack_4_reduced = load_dataset_keeping_proportions("physical/phy_att_4.csv", "/100")

In [5]:
df_attack_4_reduced.head()

,Time,Tank_1,Tank_2,Tank_3,Tank_4,Tank_5,Tank_6,Tank_7,Tank_8,Pump_1,...,Valv_15,Valv_16,Valv_17,Valv_18,Valv_19,Valv_20,Valv_21,Valv_22,Label_n,Label
599,21/02/2022 14:55:17,6,3,983,42,224,409,184,0,False,...,True,False,False,False,False,True,False,False,0,normal
1348,21/02/2022 15:07:46,1436,1062,7,32,578,0,715,92,True,...,False,False,False,False,False,False,False,False,1,MITM
115,21/02/2022 14:47:13,1583,1888,229,0,472,0,0,0,False,...,False,False,True,False,False,False,False,False,0,normal
135,21/02/2022 14:47:33,1276,1615,533,0,709,0,0,0,False,...,False,False,True,False,False,False,False,False,0,normal
339,21/02/2022 14:50:57,1096,5,65,33,0,193,450,176,False,...,False,False,False,False,False,False,False,False,0,normal

In [6]:
df_normal.head()

,Time,Tank_1,Tank_2,Tank_3,Tank_4,Tank_5,Tank_6,Tank_7,Tank_8,Pump_1,...,Valv_15,Valv_16,Valv_17,Valv_18,Valv_19,Valv_20,Valv_21,Valv_22,Label_n,Label
0,09/04/2021 11:30,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
1,09/04/2021 11:30,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
2,09/04/2021 11:30,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
3,09/04/2021 11:30,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
4,09/04/2021 11:30,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal

In [7]:
df_attack_4.head()

,Time,Tank_1,Tank_2,Tank_3,Tank_4,Tank_5,Tank_6,Tank_7,Tank_8,Pump_1,...,Valv_15,Valv_16,Valv_17,Valv_18,Valv_19,Valv_20,Valv_21,Valv_22,Label_n,Label
0,21/02/2022 14:45:18,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
1,21/02/2022 14:45:19,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
2,21/02/2022 14:45:20,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
3,21/02/2022 14:45:21,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
4,21/02/2022 14:45:22,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal

## III - Nettoyer donnée

Nous allons nettoyer la donnée avec les informations obtenus à partir de l'exploration

### 1 - Corriger faute d'orthographe de la colonne

On a vu que "Lable_n" était parfois mal orthographié en "Label_n"

In [8]:
def corriger_titre(df):
    df_ret = df.copy()
    for col in df_ret.columns:
        df_ret = df_ret.rename(columns={"Lable_n":"Label_n"})
    return df_ret

In [9]:
df_attack_2.columns

Index(['Time', 'Tank_1', 'Tank_2', 'Tank_3', 'Tank_4', 'Tank_5', 'Tank_6',
       'Tank_7', 'Tank_8', 'Pump_1', 'Pump_2', 'Pump_3', 'Pump_4', 'Pump_5',
       'Pump_6', 'Flow_sensor_1', 'Flow_sensor_2', 'Flow_sensor_3',
       'Flow_sensor_4', 'Valv_1', 'Valv_2', 'Valv_3', 'Valv_4', 'Valv_5',
       'Valv_6', 'Valv_7', 'Valv_8', 'Valv_9', 'Valv_10', 'Valv_11', 'Valv_12',
       'Valv_13', 'Valv_14', 'Valv_15', 'Valv_16', 'Valv_17', 'Valv_18',
       'Valv_19', 'Valv_20', 'Valv_21', 'Valv_22', 'Lable_n', 'Label'],
      dtype='object')

In [10]:
cleaned_normal = corriger_titre(df_normal)
cleaned_attack_1 = corriger_titre(df_attack_1)
cleaned_attack_2 = corriger_titre(df_attack_2)
cleaned_attack_3 = corriger_titre(df_attack_3)
cleaned_attack_4 = corriger_titre(df_attack_4)

In [11]:
cleaned_attack_2.columns

Index(['Time', 'Tank_1', 'Tank_2', 'Tank_3', 'Tank_4', 'Tank_5', 'Tank_6',
       'Tank_7', 'Tank_8', 'Pump_1', 'Pump_2', 'Pump_3', 'Pump_4', 'Pump_5',
       'Pump_6', 'Flow_sensor_1', 'Flow_sensor_2', 'Flow_sensor_3',
       'Flow_sensor_4', 'Valv_1', 'Valv_2', 'Valv_3', 'Valv_4', 'Valv_5',
       'Valv_6', 'Valv_7', 'Valv_8', 'Valv_9', 'Valv_10', 'Valv_11', 'Valv_12',
       'Valv_13', 'Valv_14', 'Valv_15', 'Valv_16', 'Valv_17', 'Valv_18',
       'Valv_19', 'Valv_20', 'Valv_21', 'Valv_22', 'Label_n', 'Label'],
      dtype='object')

Cela a fonctionné.

Vérifions que tous les dataset ont désormais les mêmes colonnes :

In [12]:
print(list(cleaned_normal.columns)==list(cleaned_attack_2.columns) and
      list(cleaned_attack_1.columns)==list(cleaned_attack_2.columns) and 
      list(cleaned_attack_1.columns)==list(cleaned_attack_3.columns) and 
      list(cleaned_attack_1.columns)==list(cleaned_attack_3.columns))

True

### 2 - Supprimer colonnes temporelles

Toutes les données sont soit numériques soit booléennes (sans compter le Label qu'on doit garder) à part Time, on va donc la supprimer

In [13]:
def clean_category(df):
    new_df = df.copy()
    df_ret = new_df.drop("Time",axis=1)
    df_ret = df_ret.drop("Label_n",axis=1)

    return df_ret

In [14]:
cleaned_normal = clean_category(cleaned_normal)
cleaned_attack_1 = clean_category(cleaned_attack_1)
cleaned_attack_2 = clean_category(cleaned_attack_2)
cleaned_attack_3 = clean_category(cleaned_attack_3)
cleaned_attack_4 = clean_category(cleaned_attack_4)

Vérifions :

In [15]:
cleaned_normal.head()

,Tank_1,Tank_2,Tank_3,Tank_4,Tank_5,Tank_6,Tank_7,Tank_8,Pump_1,Pump_2,...,Valv_14,Valv_15,Valv_16,Valv_17,Valv_18,Valv_19,Valv_20,Valv_21,Valv_22,Label
0,0,0,0,0,0,0,0,0,False,False,...,False,False,False,False,False,False,False,False,False,normal
1,0,0,0,0,0,0,0,0,False,False,...,False,False,False,False,False,False,False,False,False,normal
2,0,0,0,0,0,0,0,0,False,False,...,False,False,False,False,False,False,False,False,False,normal
3,0,0,0,0,0,0,0,0,False,False,...,False,False,False,False,False,False,False,False,False,normal
4,0,0,0,0,0,0,0,0,False,False,...,False,False,False,False,False,False,False,False,False,normal

In [16]:
cleaned_attack_1.head()

,Tank_1,Tank_2,Tank_3,Tank_4,Tank_5,Tank_6,Tank_7,Tank_8,Pump_1,Pump_2,...,Valv_14,Valv_15,Valv_16,Valv_17,Valv_18,Valv_19,Valv_20,Valv_21,Valv_22,Label
0,0,0,0,0,0,0,0,0,False,False,...,False,False,False,False,False,False,False,False,False,normal
1,0,0,0,0,0,0,0,0,False,False,...,False,False,False,False,False,False,False,False,False,normal
2,0,0,0,0,0,0,0,0,False,False,...,False,False,False,False,False,False,False,False,False,normal
3,0,0,0,0,0,0,0,0,False,False,...,False,False,False,False,False,False,False,False,False,normal
4,0,0,0,0,0,0,0,0,True,True,...,False,False,False,False,False,False,False,False,False,normal

### 3 - Corriger les fautes d'orthographes dans les variables

Nous avons vu que le label "normal" pouvait être mal orthographié en "nomal"

In [17]:
print("labels attaque 2 :", list(pd.unique(cleaned_attack_2["Label"])))

labels attaque 2 : ['normal', 'scan', 'DoS', 'physical fault', 'nomal', 'MITM']

In [18]:
cleaned_normal['Label'] = cleaned_normal['Label'].replace('nomal', 'normal')
cleaned_attack_1["Label"] = cleaned_attack_1['Label'].replace('nomal', 'normal')
cleaned_attack_2["Label"] = cleaned_attack_2['Label'].replace('nomal', 'normal')
cleaned_attack_3["Label"] = cleaned_attack_3['Label'].replace('nomal', 'normal')
cleaned_attack_4["Label"] = cleaned_attack_4['Label'].replace('nomal', 'normal')

Vérifions qu'il n'y a plus de telle faute :

In [19]:
print("labels normal :", list(pd.unique(cleaned_normal["Label"])))
print("labels attaque 1 :", list(pd.unique(cleaned_attack_1["Label"])))
print("labels attaque 2 :", list(pd.unique(cleaned_attack_2["Label"])))
print("labels attaque 3 :", list(pd.unique(cleaned_attack_3["Label"])))
print("labels attaque 4 :", list(pd.unique(cleaned_attack_4["Label"])))

labels normal : ['normal']
labels attaque 1 : ['normal', 'MITM', 'physical fault']
labels attaque 2 : ['normal', 'scan', 'DoS', 'physical fault', 'MITM']
labels attaque 3 : ['normal', 'physical fault', 'DoS', 'MITM']
labels attaque 4 : ['normal', 'scan', 'DoS', 'physical fault', 'MITM']

### 3 - Traitement des NaN

In [20]:
#test the rate of nan in each column for each dataset
print("Normal")
print(df_normal.isna().sum()/len(df_normal))

print("Attack 1")
print(df_attack_1.isna().sum()/len(df_attack_1))

print("Attack 2")
print(df_attack_2.isna().sum()/len(df_attack_2))

print("Attack 3")
print(df_attack_3.isna().sum()/len(df_attack_3))

print("Attack 4")
print(df_attack_4.isna().sum()/len(df_attack_4))

Normal
Time             0.0
Tank_1           0.0
Tank_2           0.0
Tank_3           0.0
Tank_4           0.0
Tank_5           0.0
Tank_6           0.0
Tank_7           0.0
Tank_8           0.0
Pump_1           0.0
Pump_2           0.0
Pump_3           0.0
Pump_4           0.0
Pump_5           0.0
Pump_6           0.0
Flow_sensor_1    0.0
Flow_sensor_2    0.0
Flow_sensor_3    0.0
Flow_sensor_4    0.0
Valv_1           0.0
Valv_2           0.0
Valv_3           0.0
Valv_4           0.0
Valv_5           0.0
Valv_6           0.0
Valv_7           0.0
Valv_8           0.0
Valv_9           0.0
Valv_10          0.0
Valv_11          0.0
Valv_12          0.0
Valv_13          0.0
Valv_14          0.0
Valv_15          0.0
Valv_16          0.0
Valv_17          0.0
Valv_18          0.0
Valv_19          0.0
Valv_20          0.0
Valv_21          0.0
Valv_22          0.0
Label_n          0.0
Label            0.0
dtype: float64
Attack 1
Time             0.0
Tank_1           0.0
Tank_2           0.0
Tank_3           0.0
Tank_4           0.0
Tank_5           0.0
Tank_6           0.0
Tank_7           0.0
Tank_8           0.0
Pump_1           0.0
Pump_2           0.0
Pump_3           0.0
Pump_4           0.0
Pump_5           0.0
Pump_6           0.0
Flow_sensor_1    0.0
Flow_sensor_2    0.0
Flow_sensor_3    0.0
Flow_sensor_4    0.0
Valv_1           0.0
Valv_2           0.0
Valv_3           0.0
Valv_4           0.0
Valv_5           0.0
Valv_6           0.0
Valv_7           0.0
Valv_8           0.0
Valv_9           0.0
Valv_10          0.0
Valv_11          0.0
Valv_12          0.0
Valv_13          0.0
Valv_14          0.0
Valv_15          0.0
Valv_16          0.0
Valv_17          0.0
Valv_18          0.0
Valv_19          0.0
Valv_20          0.0
Valv_21          0.0
Valv_22          0.0
Label_n          0.0
Label            0.0
dtype: float64
Attack 2
Time             0.0
Tank_1           0.0
Tank_2           0.0
Tank_3           0.0
Tank_4           0.0
Tank_5           0.0
Tank_6           0.0
Tank_7           0.0
Tank_8           0.0
Pump_1           0.0
Pump_2           0.0
Pump_3           0.0
Pump_4           0.0
Pump_5           0.0
Pump_6           0.0
Flow_sensor_1    0.0
Flow_sensor_2    0.0
Flow_sensor_3    0.0
Flow_sensor_4    0.0
Valv_1           0.0
Valv_2           0.0
Valv_3           0.0
Valv_4           0.0
Valv_5           0.0
Valv_6           0.0
Valv_7           0.0
Valv_8           0.0
Valv_9           0.0
Valv_10          0.0
Valv_11          0.0
Valv_12          0.0
Valv_13          0.0
Valv_14          0.0
Valv_15          0.0
Valv_16          0.0
Valv_17          0.0
Valv_18          0.0
Valv_19          0.0
Valv_20          0.0
Valv_21          0.0
Valv_22          0.0
Lable_n          0.0
Label            0.0
dtype: float64
Attack 3
Time             0.0
Tank_1           0.0
Tank_2           0.0
Tank_3           0.0
Tank_4           0.0
Tank_5           0.0
Tank_6           0.0
Tank_7           0.0
Tank_8           0.0
Pump_1           0.0
Pump_2           0.0
Pump_3           0.0
Pump_4           0.0
Pump_5           0.0
Pump_6           0.0
Flow_sensor_1    0.0
Flow_sensor_2    0.0
Flow_sensor_3    0.0
Flow_sensor_4    0.0
Valv_1           0.0
Valv_2           0.0
Valv_3           0.0
Valv_4           0.0
Valv_5           0.0
Valv_6           0.0
Valv_7           0.0
Valv_8           0.0
Valv_9           0.0
Valv_10          0.0
Valv_11          0.0
Valv_12          0.0
Valv_13          0.0
Valv_14          0.0
Valv_15          0.0
Valv_16          0.0
Valv_17          0.0
Valv_18          0.0
Valv_19          0.0
Valv_20          0.0
Valv_21          0.0
Valv_22          0.0
Label_n          0.0
Label            0.0
dtype: float64
Attack 4
Time             0.0
Tank_1           0.0
Tank_2           0.0
Tank_3           0.0
Tank_4           0.0
Tank_5           0.0
Tank_6           0.0
Tank_7           0.0
Tank_8           0.0
Pump_1           0.0
Pump_2           0.0
Pump_3           0.0
Pump_4           0.0
Pump_5           0.0
Pump_6           0.0
Flow_sensor_1    0.0
Flow_sensor_2    0.0
Flow_sensor_3    0.0
Flow_sensor_4    0.0
Valv_1           0.0
Valv_2           0.0
Valv_3           0.0
Valv_4           0.0
Valv_5           0.0
Valv_6           0.0
Valv_7           0.0
Valv_8           0.0
Valv_9           0.0
Valv_10          0.0
Valv_11          0.0
Valv_12          0.0
Valv_13          0.0
Valv_14          0.0
Valv_15          0.0
Valv_16          0.0
Valv_17          0.0
Valv_18          0.0
Valv_19          0.0
Valv_20          0.0
Valv_21          0.0
Valv_22          0.0
Label_n          0.0
Label            0.0
dtype: float64

Il n'y a pas de NaN dans les données

In [21]:
# Definition ud'un fonction de préparation (qui effectue toutes les opérations de nettoyage)

def prepare(df):
    df_ret = corriger_titre(df)
    df_ret = clean_category(df_ret)
    df_ret['Label'] = df_ret['Label'].replace('nomal', 'normal')

    return df_ret

## IV - Enregistrer données nettoyées

In [22]:
# create the directory if it doesn't exist
if not os.path.exists("preparation/physical"):
    os.makedirs("preparation/physical")

if not os.path.exists("preparation/physical/all_data_concat"):
    os.makedirs("preparation/physical/all_data_concat")

In [23]:
cleaned_normal.to_csv("preparation/physical_normal.csv", index=False)
cleaned_attack_1.to_csv("preparation/physical_1.csv", index=False)
cleaned_attack_2.to_csv("preparation/physical_2.csv", index=False)
cleaned_attack_3.to_csv("preparation/physical_3.csv", index=False)
cleaned_attack_4.to_csv("preparation/physical_4.csv", index=False)

In [24]:
# enregistrement des données concaténées de toutes les tailles

sizes = ["full", "/10", "/100", "/1000"]
#sizes = ["/1000"]
file_names = ["full_size", "divided_by_10", "divided_by_100", "divided_by_1000"]
#file_names = ["divided_by_1000"]

size_to_name = dict(zip(sizes, file_names))

file_paths = [
    "physical/phy_norm.csv",
    "physical/phy_att_1.csv",
    "physical/phy_att_2.csv",
    "physical/phy_att_3.csv",
    "physical/phy_att_4.csv"
]

for size in sizes:
    # Initialize an empty DataFrame for concatenated data
    cleaned_all_data_concat = pd.DataFrame()



    for file_path in file_paths:
        # Load and prepare each dataset
        df = load_dataset_keeping_proportions(file_path, size)   
        
        prepared_df = prepare(df)

        # Concatenate to the cumulative DataFrame
        cleaned_all_data_concat = pd.concat([cleaned_all_data_concat, prepared_df], ignore_index=True)
    
    # # Save the concatenated and prepared data to CSV
    # #cleaned_all_data_concat.to_csv("preparation/network/all_data_concat/" + size_to_name[size] + "all_data_concat.csv", index=False)
    cleaned_all_data_concat.to_csv("preparation/physical/all_data_concat/all_data_concat_" + size_to_name[size] + ".csv", index=False)
    del cleaned_all_data_concat