# Physical attacks - Exploration des données

## I - Modules

In [1]:
import pandas as pd

## II - Charger donnée

Première remarque : les csv sont dans un mauvais format, il faut les rouvrir avec excel et les réengistrer en tant que" CSV UTF-8 séparés par des virgules "

In [17]:
df_normal = pd.read_csv("physical/phy_norm.csv",sep=";")
df_attack_1 = pd.read_csv("physical/phy_att_1.csv",sep=";")
df_attack_2 = pd.read_csv("physical/phy_att_2.csv",sep=";")
df_attack_3 = pd.read_csv("physical/phy_att_3.csv",sep=";")
df_attack_4 = pd.read_csv("physical/phy_att_4.csv")

## III - Analyse

In [18]:
df_attack_4.head()

,Time,Tank_1,Tank_2,Tank_3,Tank_4,Tank_5,Tank_6,Tank_7,Tank_8,Pump_1,...,Valv_15,Valv_16,Valv_17,Valv_18,Valv_19,Valv_20,Valv_21,Valv_22,Label_n,Label
0,21/02/2022 14:45:18,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
1,21/02/2022 14:45:19,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
2,21/02/2022 14:45:20,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
3,21/02/2022 14:45:21,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal
4,21/02/2022 14:45:22,0,0,0,0,0,0,0,0,False,...,False,False,False,False,False,False,False,False,0,normal

### 1 - Tailles

In [19]:
print("normal -",len(df_normal))
print("attaque 1 -",len(df_attack_1))
print("attaque 2 -",len(df_attack_2))
print("attaque 3 -",len(df_attack_3))
print("attaque 4 -",len(df_attack_4))

normal - 3428
attaque 1 - 2420
attaque 2 - 2104
attaque 3 - 1254
attaque 4 - 1717

### 2 - Colonnes

#### A - Cohérence

In [20]:
print(list(df_normal.columns)==list(df_attack_1.columns) and
      list(df_attack_1.columns)==list(df_attack_2.columns) and 
      list(df_attack_1.columns)==list(df_attack_3.columns) and 
      list(df_attack_1.columns)==list(df_attack_4.columns))

False

Les colonnes ne sont pas identiques. Voyons pourquoi.

In [21]:
print(list(df_normal.columns))
print(list(df_attack_1.columns))
print(list(df_attack_2.columns))
print(list(df_attack_3.columns))
print(list(df_attack_4.columns))

['Time', 'Tank_1', 'Tank_2', 'Tank_3', 'Tank_4', 'Tank_5', 'Tank_6', 'Tank_7', 'Tank_8', 'Pump_1', 'Pump_2', 'Pump_3', 'Pump_4', 'Pump_5', 'Pump_6', 'Flow_sensor_1', 'Flow_sensor_2', 'Flow_sensor_3', 'Flow_sensor_4', 'Valv_1', 'Valv_2', 'Valv_3', 'Valv_4', 'Valv_5', 'Valv_6', 'Valv_7', 'Valv_8', 'Valv_9', 'Valv_10', 'Valv_11', 'Valv_12', 'Valv_13', 'Valv_14', 'Valv_15', 'Valv_16', 'Valv_17', 'Valv_18', 'Valv_19', 'Valv_20', 'Valv_21', 'Valv_22', 'Label_n', 'Label']
['Time', 'Tank_1', 'Tank_2', 'Tank_3', 'Tank_4', 'Tank_5', 'Tank_6', 'Tank_7', 'Tank_8', 'Pump_1', 'Pump_2', 'Pump_3', 'Pump_4', 'Pump_5', 'Pump_6', 'Flow_sensor_1', 'Flow_sensor_2', 'Flow_sensor_3', 'Flow_sensor_4', 'Valv_1', 'Valv_2', 'Valv_3', 'Valv_4', 'Valv_5', 'Valv_6', 'Valv_7', 'Valv_8', 'Valv_9', 'Valv_10', 'Valv_11', 'Valv_12', 'Valv_13', 'Valv_14', 'Valv_15', 'Valv_16', 'Valv_17', 'Valv_18', 'Valv_19', 'Valv_20', 'Valv_21', 'Valv_22', 'Label_n', 'Label']
['Time', 'Tank_1', 'Tank_2', 'Tank_3', 'Tank_4', 'Tank_5', 'Tank_6', 'Tank_7', 'Tank_8', 'Pump_1', 'Pump_2', 'Pump_3', 'Pump_4', 'Pump_5', 'Pump_6', 'Flow_sensor_1', 'Flow_sensor_2', 'Flow_sensor_3', 'Flow_sensor_4', 'Valv_1', 'Valv_2', 'Valv_3', 'Valv_4', 'Valv_5', 'Valv_6', 'Valv_7', 'Valv_8', 'Valv_9', 'Valv_10', 'Valv_11', 'Valv_12', 'Valv_13', 'Valv_14', 'Valv_15', 'Valv_16', 'Valv_17', 'Valv_18', 'Valv_19', 'Valv_20', 'Valv_21', 'Valv_22', 'Lable_n', 'Label']
['Time', 'Tank_1', 'Tank_2', 'Tank_3', 'Tank_4', 'Tank_5', 'Tank_6', 'Tank_7', 'Tank_8', 'Pump_1', 'Pump_2', 'Pump_3', 'Pump_4', 'Pump_5', 'Pump_6', 'Flow_sensor_1', 'Flow_sensor_2', 'Flow_sensor_3', 'Flow_sensor_4', 'Valv_1', 'Valv_2', 'Valv_3', 'Valv_4', 'Valv_5', 'Valv_6', 'Valv_7', 'Valv_8', 'Valv_9', 'Valv_10', 'Valv_11', 'Valv_12', 'Valv_13', 'Valv_14', 'Valv_15', 'Valv_16', 'Valv_17', 'Valv_18', 'Valv_19', 'Valv_20', 'Valv_21', 'Valv_22', 'Label_n', 'Label']
['Time', 'Tank_1', 'Tank_2', 'Tank_3', 'Tank_4', 'Tank_5', 'Tank_6', 'Tank_7', 'Tank_8', 'Pump_1', 'Pump_2', 'Pump_3', 'Pump_4', 'Pump_5', 'Pump_6', 'Flow_sensor_1', 'Flow_sensor_2', 'Flow_sensor_3', 'Flow_sensor_4', 'Valv_1', 'Valv_2', 'Valv_3', 'Valv_4', 'Valv_5', 'Valv_6', 'Valv_7', 'Valv_8', 'Valv_9', 'Valv_10', 'Valv_11', 'Valv_12', 'Valv_13', 'Valv_14', 'Valv_15', 'Valv_16', 'Valv_17', 'Valv_18', 'Valv_19', 'Valv_20', 'Valv_21', 'Valv_22', 'Label_n', 'Label']

On remarque que les colonnes sont identiques à part pour df_attack_2 qui contient une faute d'orthographe en ayant une colonne "Lable_n" au lieu de "Label_n"

#### B - Types

In [22]:
df_attack_1.dtypes

Time             object
Tank_1            int64
Tank_2            int64
Tank_3            int64
Tank_4            int64
Tank_5            int64
Tank_6            int64
Tank_7            int64
Tank_8            int64
Pump_1             bool
Pump_2             bool
Pump_3             bool
Pump_4             bool
Pump_5             bool
Pump_6             bool
Flow_sensor_1     int64
Flow_sensor_2     int64
Flow_sensor_3     int64
Flow_sensor_4     int64
Valv_1             bool
Valv_2             bool
Valv_3             bool
Valv_4             bool
Valv_5             bool
Valv_6             bool
Valv_7             bool
Valv_8             bool
Valv_9             bool
Valv_10            bool
Valv_11            bool
Valv_12            bool
Valv_13            bool
Valv_14            bool
Valv_15            bool
Valv_16            bool
Valv_17            bool
Valv_18            bool
Valv_19            bool
Valv_20            bool
Valv_21            bool
Valv_22            bool
Label_n           int64
Label            object
dtype: object

In [27]:
print("variables numériques :", len(df_attack_1.select_dtypes(include="number").columns))
print("variables booleennes :", len(df_attack_1.select_dtypes(include="bool").columns))
print("variables categorielles et string:", len(df_attack_1.select_dtypes(include="object").columns)+len(df_attack_1.select_dtypes(include="category").columns))

variables numériques : 13
variables booleennes : 28
variables categorielles et string: 2

Il faudra peut être numériser les variables booléennes nombreuses ou les enlever selon les modèles.

In [30]:
print("variables categorielles et string:", list(df_attack_1.select_dtypes(include="object").columns),list(df_attack_1.select_dtypes(include="category").columns))

variables categorielles et string: ['Time', 'Label'] []

On pourra supprimer le temps mais le Label est important car c'est justement ce qu'on doit détecter

### 3 - Variables

#### A - Quelques valeurs étranges

Observons la donnée catégorielle Label :

In [32]:
print("labels normal :", list(pd.unique(df_normal["Label"])))
print("labels attaque 1 :", list(pd.unique(df_attack_1["Label"])))
print("labels attaque 2 :", list(pd.unique(df_attack_2["Label"])))
print("labels attaque 3 :", list(pd.unique(df_attack_3["Label"])))
print("labels attaque 4 :", list(pd.unique(df_attack_4["Label"])))

labels normal : ['normal']
labels attaque 1 : ['normal', 'MITM', 'physical fault']
labels attaque 2 : ['normal', 'scan', 'DoS', 'physical fault', 'nomal', 'MITM']
labels attaque 3 : ['normal', 'physical fault', 'DoS', 'MITM']
labels attaque 4 : ['normal', 'scan', 'DoS', 'physical fault', 'MITM']

On peut voir que dans attack_2, il y a une faute d'orthographe avec des valeurs de types " nomal " au lieu de " normal ".

#### B - Etudes des NaN

In [34]:
for k in df_normal.columns:
    if df_normal[k].isna().any():
        print(k)

Pas de problème sur le set de données sans attaque à part modbus_response, qui est NaN car il ne peut y avoir de valeur que dans des réponses à des requêtes modbus.

In [37]:
for k in df_attack_1.columns:
    if df_attack_1[k].isna().any():
        print(k)

for k in df_attack_2.columns:
    if df_attack_2[k].isna().any():
        print(k)

for k in df_attack_3.columns:
    if df_attack_3[k].isna().any():
        print(k)

for k in df_attack_4.columns:
    if df_attack_4[k].isna().any():
        print(k)

Il n'y a jamais aucun NaN dans nos données.